/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Hero section styles */
#hero {
    background-image: url('https://f.shgcdn.com/8dadad5b-2b49-44e2-92af-67ccd0f9ba9c/-/preview/-/inline/no/Topographical-MacBook.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

.hero-text {
    color: #fff;
    text-align: center;
    width: 100%;
}

.hero-text h1 {
    font-size: 9rem;
    margin: 0;
}

/* Skills section styles */
#skills {
    background-color: #fff;
    padding: 100px 0;
    text-align: center;
}

#skills h2 {
    margin-bottom: 30px;
}

#skills ul {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}
    #skills UL {
        display: flex;
        justify-content: space-around;
      }
      span {
        margin: 0 1px; /* Add 10 pixels of margin around each word */
      }
  
